body{

    text-align:center;
    color: rgb(0, 22, 146);
    background-color: rgb(118, 0, 253);
    list-style: none;
}
#menu{
    list-style: none;
    padding-bottom:15px;
    position:fixed !important;
    z-index:10;
    top:0px;
}
.item{
    float: left;
    padding: 10px;
    font-family: 'Abril Fatface', cursive;
}
